<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chart.Js with MongoDB & Node.Js</title>
  <style>
    body {font-family: Lato;}
    a { text-decoration: none; color: #777;}
  </style>
</head>
<body>
  <a href="/generate">Generate 100 users</a>
  <canvas id="myChart"></canvas>
  <!-- Start Js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    let ctx = document.querySelector('#myChart').getContext('2d');

    let myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Greather than 18", "Less than 18"],
        datasets: [{
          label: '#',
          data: [<%= greater %>, <%= less %>],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)'
             ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)'
        ],
          borderWidth: 1
        }]
     },
     options: {
         scales: {
             yAxes: [{
                 ticks: {
                     beginAtZero:true
                 }
             }]
         },
         title: {
            display: true,
            text: 'Number of users over and under 18 years old',
            fontSize: 18
        }
     }
    }); // end chart obj

  </script>
</body>
</html>
